.video-player-container {
    position: relative;
    display: flex;
    cursor: pointer;
    width: 840px;
    height: 400px;

    &:hover {
        .video-controller {
            opacity: 1;
            transition: opacity 0.5s ease-out;

            .backdrop {
                transition: height 0.5s ease-out;
            }
        }
    }

    .loading {
        background-color: #4b4b4ba3;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        cursor: default;
        display: flex;
        justify-content: center;
        align-items: center;

        .loader {
            width: 25px;
            aspect-ratio: 1;
            display: grid;
            border-radius: 50%;
            background:
                linear-gradient(0deg, rgba(255, 255, 255, 0.5) 30%, #ffffff00 0 70%, rgb(255, 255, 255) 0) 50%/8% 100%,
                linear-gradient(90deg, rgba(255, 255, 255, 0.25) 30%, #ffffff00 0 70%, rgba(255, 255, 255, 0.75) 0) 50%/100% 8%;
            background-repeat: no-repeat;
            animation: l23 1s infinite steps(12);
        }

        .loader::before,
        .loader::after {
            content: "";
            grid-area: 1/1;
            border-radius: 50%;
            background: inherit;
            opacity: 0.915;
            transform: rotate(30deg);
        }

        .loader::after {
            opacity: 0.83;
            transform: rotate(60deg);
        }

        @keyframes l23 {
            100% {
                transform: rotate(1turn)
            }
        }
    }

    video.video-player {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/4;
        background-color: black;
    }

    .video-controller {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        transition: opacity 1s ease-out;
        opacity: 0;

        .backdrop {
            height: 100%;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            z-index: 0;
            background-color: #0000002d;

            transition: height 1s ease-out;
        }

        .controllers {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: 1;
            padding: 8px 16px;
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            cursor: default;

            .video-duration-indicator {
                input[type='range'] {
                    margin: 0px;
                    width: 100%;
                    cursor: pointer;

                    -webkit-appearance: none;
                    appearance: none;
                    background: transparent;

                    &:focus {
                        outline: none;
                    }

                    &::-webkit-slider-runnable-track {
                        background: linear-gradient(to right, #6858df, #6858df), #ffffff80;
                        background-size: var(--video-duration-bg-size, 0%) 100%;
                        background-repeat: no-repeat;
                        border-radius: 8px;
                        height: 4px;
                    }

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        /* Override default look */
                        appearance: none;
                        margin-top: -4px;
                        /* Centers thumb on the track */
                        background-color: #ffffff;
                        border-radius: 50%;
                        height: 12px;
                        width: 12px;
                    }

                    &::-moz-range-progress {
                        background-color: #6858df;
                        border-radius: 8px;
                        height: 4px;
                    }

                    &::-moz-range-track {
                        background-color: #ffffff;
                        border-radius: 8px;
                        height: 4px;
                    }

                    &::-moz-range-thumb {
                        background-color: #ffffff;
                        border: none;
                        /*Removes extra border that FF applies*/
                        border-radius: 50%;
                        height: 12px;
                        width: 12px;
                    }
                }
            }

            .action-menus {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left {
                    display: flex;
                    align-items: center;
                    column-gap: 16px;

                    .play-pause-controller {
                        width: 32px;
                        height: 32px;
                        display: flex;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        background-color: #0000002e;
                        transition: background-color 0.1s ease-out;
                        cursor: pointer;

                        &:hover {
                            background-color: #0000004d;
                            transition: background-color 0.1s ease-in;
                        }
                    }

                    .volume-controller {
                        padding: 8px 8px;
                        display: flex;
                        align-items: center;
                        border-radius: 16px;
                        transition: background-color 0.1s ease-in;
                        cursor: default;

                        i {
                            cursor: pointer;
                            width: 25px;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        input[type='range'] {
                            margin: 0px;
                            width: 0px;
                            opacity: 0;
                            transition: width 0.2s ease-in, opacity 0.2s ease-in;
                            cursor: pointer;

                            -webkit-appearance: none;
                            appearance: none;
                            background: transparent;

                            &:focus {
                                outline: none;
                            }

                            &::-webkit-slider-runnable-track {
                                background: linear-gradient(to right, #c9c9c9, #c9c9c9), #414049;
                                background-size: var(--volume-range-size, 0%) 100%;
                                background-repeat: no-repeat;
                                border-radius: 8px;
                                height: 2px;
                            }

                            &::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                /* Override default look */
                                appearance: none;
                                margin-top: -3px;
                                /* Centers thumb on the track */
                                background-color: #ffffff;
                                border-radius: 50%;
                                height: 8px;
                                width: 8px;
                            }

                            &::-moz-range-progress {
                                background-color: #c9c9c9;
                                border-radius: 8px;
                                height: 2px;
                            }

                            &::-moz-range-track {
                                background-color: #414049;
                                border-radius: 8px;
                                height: 2px;
                            }

                            &::-moz-range-thumb {
                                background-color: #ffffff;
                                border: none;
                                /*Removes extra border that FF applies*/
                                border-radius: 50%;
                                height: 8px;
                                width: 8px;
                            }
                        }

                        &:hover {
                            background-color: #000000a1;
                            transition: background-color 0.1s ease-out;

                            input[type='range'] {
                                margin: 0px 0px 0px 4px;
                                transition: width 0.2s ease-out, opacity 0.2s ease-out;
                                width: 80px;
                                opacity: 1;
                            }
                        }
                    }

                    .video-time-duration {
                        font-size: 14px;
                    }
                }

                .right {
                    display: flex;
                    align-items: center;
                    column-gap: 16px;

                    i {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}