.video-player-container {
    position: relative;
    display: flex;
    cursor: pointer;

    video.video-player {
        width: 100%;
    }

    &:hover {
        .video-controller {
            opacity: 1;
            transition: opacity 0s ease-out;
        }

        .backdrop {
            transition: height 0s ease-out;
        }
    }

    .video-controller {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        transition: opacity 0.5s ease-out;
        opacity: 0;

        .backdrop {
            height: 100%;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            z-index: 0;
            background-color: #0000002d;

            transition: height 1s ease-out;
        }

        .controllers {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: 1;
            padding: 8px 16px;
            display: flex;
            align-items: center;
            column-gap: 16px;

            .play-pause-controller {
                width: 32px;
                height: 32px;
                display: flex;
                border: 1px solid;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
            }

            .volume-controller {
                padding: 8px 8px;
                display: flex;
                align-items: center;
                border-radius: 16px;
                transition: background-color 0.1s ease-in;
                cursor: default;

                i {
                    cursor: pointer;
                }

                input[type='range'] {
                    margin: 0px;
                    width: 0px;
                    opacity: 0;
                    transition: width 0.2s ease-in, opacity 0.2s ease-in;
                }

                &:hover {
                    background-color: #000000a1;
                    transition: background-color 0.1s ease-out;
                    
                    input[type='range'] {
                        margin: 0px 0px 0px 4px;
                        transition: width 0.2s ease-out, opacity 0.2s ease-out;
                        width: 80px;
                        opacity: 1;
                    }
                }
            }
        }

    }
}